main{
    display:flex;
    justify-content: center;
}
 header{
    background-color:rgb(157, 202, 241);
    height:30px;
    display: block;
    margin-bottom: 10px;
}
ul{
    display:flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding:0;
}
li{
    text-align:center;
    font-weight: 800;
    line-height: 25px;
    color:purple;
    padding:5px;

}
li:hover{
    background:#76a8c8;
} /**/
h1{
    color: rgb(97, 219, 219);
    width: 100%;
    text-align:center;
    font-size: 40px;
}
p{
    font-size: 25px;
    text-align:center;
    color:purple;
    font-weight: 20px;
    margin: 50px;
}
div{
    width:600px;
    height: 200px;
    border:solid 2px black;
    border-radius:10px;
    padding: 5px;
    background-color: aliceblue;
}
