body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}
.contenedorTitulo{
    background: #333391;
    padding: 5px;
}
.titulo {
    display:flex;
    height: 50px;
    object-fit: center;
    color: white;
    font-size:20px;
}
.titulo h1 {
    margin: 0 10px;
    line-height: 1.5;
}


.navbar{
    height:30px;
    background: rgb(40, 40, 133);
    color:white;
}
.navbar ul{
    display:flex;
    align-content: center;
    list-style: none;
    height:100%;
    padding: 0;
    margin: 0;
}
.navbar ul li{
    display:inline-block;
    width:50%;
    text-align: center;
    line-height: 2;
    font-weight: 800;
    transition: all 0.3s ease;
}
.navbar ul li:hover{
    background-color: #20245c;
}


main{
    max-width: 1200px;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}


footer{
    background: #333391;  
    height:100px;  
}
footer div {
    display:flex;
    align-items: center; 
    color: #fff;
}
footer p{
    text-align: center;
    width: 100%;
}
.logo{
    display:flex;
    justify-content: center;
    height:100px;
}
